.clear {
    clear: both;
    font-size: 0;
    height: 0;
    overflow: hidden;
}
body {
    width: 106px;
    margin: 0 auto;
}
.controls a {
    display: block;
    float: left;
    height: 23px;
    width: 23px;
    background: transparent url(../img/bg-btn.png) repeat-x 0 0;
    border: 1px solid #000000;
    border-radius: 2px;
    margin-right: 2px;
    text-decoration: none;
}
.controls a:hover {
    background: transparent url(../img/bg-btn-hover.png) repeat-x 0 0;
}
.controls a.last {
    margin-right: 0;
}
.controls img {
    margin: 4px 0 0 3px;
}
.controls a.play img {
    margin: 4px 0 0 4px;
}