body {
    margin: 0 auto;
    width: 104px;
    height: 25px;
}

.controls {
    padding: 1px;
}
.controls a {
    border-radius: 2px;
    background: transparent url(../img/bg-btn.png) repeat-x 0 0;
    margin-right: 2px;
    text-decoration: none;
    border: 1px solid #000000;
    padding-bottom: 1px;
}
.controls a:hover {
    background: transparent url(../img/bg-btn-hover.png) repeat-x 0 0;
}
.controls a.play {
    padding-right: 1px;
}
.controls a.pause {
    padding-right: 2px;
}
.controls a.stop {
    padding-right: 2px;
}
.controls a.next {
    padding-right: 2px;
}
.controls a.prev {
    padding-right: 2px;
}

.controls img {
    position: relative;
    top: 3px;
    left: 3px;
}